
<html
lang="en">
<head>
   
<meta
charset="UTF-8">
   
<title>Title</title>
</head>
<body>




     


<form action="/profile_update" method="post" enctype="multipart/form-data" >

<input type="hidden"name="id"value="{{data[0]}}">
<input type="text" placeholder="Title" name="Title" value="{{data[1]}}"><br><br>
<input type="text" placeholder="Description" name="Description"value="{{data[2]}}"><br><br>

<input type="file" name="photo" value="{{data[4]}}"><br><br>

           
<button type="submit">Update</button>
    
</form>


</body>
</html>